
.title
{
    position: absolute;
    top: 385px;
    left: 20%;
    width: 60%;
    text-align: center;
    color: #000000;
    font-family: ProximaNovaLight, Arial, serif;
    font-size: 60px;
    line-height: 60px;
}

.cancelBtn
{
    position: absolute;
    left:1011px;
    top:190px;
}
.cancelText
{
    color: #464646;
    font-family: ProximaNova, Arial, serif;
    font-size: 30px;
    line-height: 24px;
}
.loader
{
    position: absolute;
    top: 578px;

    width: 395px;
    height: 62px;
    left: 423px;


}
.langText
{
    color: #238441;
    font-family: ProximaNova, Arial, serif;
    font-size: 30px;
    line-height: 32px;
}
.cardReturnText
{
    color: #238441;
    font-family: ProximaNova, Arial, serif;
    font-size: 30px;
    line-height: 28px;
}