.title
{
    position: absolute;
    top: 292px;
    width: 100%;
    text-align: center;
    color: #238441;
    font-family: ProximaNova, Arial, serif;
    font-size: 60px;
    line-height: 60px;
}
.pinWrapper
{
    position: relative;
    top:397px;
    display: table;
    margin: 0 auto;
    z-index: 1;
}
.pinWrapperUL
{

    padding-top: 20px;
}
.pinWrapperLI
{
    display: inline;
}

.cardItemImage
{
    width: 321px;
    height: 202px;
    /*border: black solid 1px;*/
    float: left;
    margin-left: 20px;
    background-image: url("../img/btn_card.png");
    cursor: pointer;

}
.cardItem
{
    width: 321px;
    height: 202px;
    float: left;
    margin-left: 20px;
    cursor: pointer;


    background: #E9F2E3;
    border: 1px solid #238441;
    border-radius: 12px;
    behavior: url(css3pie/PIE.htc);
    box-shadow: 0px 2px 0px #238441;

    idleBgColor:#E9F2E3;
    actBgColor:#238441;
}
.cardLogo
{
    background-image: url("../img/icons/48 Icon-MC.png");
    background-repeat: no-repeat;
    width: 49px;
    height: 40px;
    margin-top: 34px;
    margin-left: 16px;
    left: 26px;
    top: 34px;
    float: left;
}
.cardName
{

    width: 236px;
    height: 5px;

    margin-top: 30px;
    margin-left: 79px;

    font-family: ProximaNova, Arial, serif;
    font-size: 30px;
    line-height: 36px;
    color: #238441;
}
.cardPan
{

    width: 236px;
    height: 5px;

    margin-top: 90px;
    margin-left: 15px;

    font-family: ProximaNovaLight, Arial, serif;
    font-size: 60px;
    line-height: 60px;
    color: #238441;
}
.cancelBtn
{
    position: absolute;
    left:1011px;
    top:190px;
    cursor: pointer;
}
.cancelText
{
    color: #464646;
    font-family: ProximaNova, Arial, serif;
    font-size: 30px;
    line-height: 24px;
    text-align: right;
}
.langBtn
{
    position: absolute;
    top: 732px;

    width: 311px;
    height: 62px;
    left: 484px;
    overflow: hidden;
    cursor: pointer;

    border: 1px solid #2B6030;
    background:  #238441;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 30px;
    behavior: url(css3pie/PIE.htc);
    box-shadow: 0px 2px 0px #2B6030;

    idleBgColor:#238441;
    actBgColor:#2B6030;

}
.langText
{
    color: #FFFFFF;
    font-family: ProximaNova, Arial, serif;
    font-size: 30px;
    line-height: 32px;
}