
.title
{
    position: absolute;
    top: 180px;
    left: 78px;
    width: 963px;
    height: 132px;

    overflow: hidden;
    text-align: left;
    color: #238441;
    font-family: ProximaNova, Arial, serif;
    font-size: 60px;
    line-height: 60px;
}

.wait_title
{
    position: absolute;
    top: 385px;
    left: 20%;
    width: 60%;
    text-align: center;
    color: #FFCB05;
    font-family: ProximaNova, Arial, serif;
    font-size: 60px;
    line-height: 60px;
}

.acceptedTitle
{
    position: absolute;
    left: 78px;
    top:312px;

    overflow: hidden;
    text-align: left;
    color: #464646;
    font-family: ProximaNova, Arial, serif;
    font-size: 30px;
    line-height: 36px

}

.inputField
{
    position: relative;
    top:363px;
    left: 40px;
    background-color: #fff7da;
    width: 705px;
    height: 120px;

}

.inputText
{
    text-align: left;
    color: #238441;
    white-space: nowrap;
    font-family: ProximaNova, Arial, serif;
    font-size: 90px;
    line-height: 85px
}

.commission
{
    position: absolute;
    top: 509px;
    left: 78px;
    width: 963px;
    height: 132px;

    overflow: hidden;
    text-align: left;
    color: #238441;
    font-family: ProximaNova, Arial, serif;
    font-size: 30px;
    line-height: 30px;
}

.acceptTotalAmount
{
    position: absolute;
    top: 585px;
    left: 78px;
    width: 468px;
    height: 65px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    text-align: left;
    color: #464646;
    font-family: ProximaNova, Arial, serif;
    font-size: 60px;
    line-height: 60px;
}

.acceptTotalInfo
{
    position: absolute;
    top: 652px;
    left: 78px;
    width: 468px;
    height: 60px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    text-align: left;
    color: #464646;
    font-family: ProximaNova, Arial, serif;
    font-size: 30px;
    line-height: 30px;
}
.helpInfo
{
    position: absolute;
    top: 711px;
    left: 78px;
    width: 665px;
    height: 110px;

    overflow: hidden;



    text-align: left;
    color: #238441;
    font-family: ProximaNova, Arial, serif;
    font-size: 30px;
    line-height: 36px;
}

.instractions
{
    position: absolute;
    top: 312px;
    left: 828px;
    width: 374px;
    height: 142px;

    overflow: hidden;



    text-align: left;
    color: #464646;
    font-family: ProximaNova, Arial, serif;
    font-size: 30px;
    line-height: 36px;
}

.addInfo
{
    position: absolute;
    top: 531px;
    left: 828px;
    width: 373px;
    height: 180px;

    overflow: hidden;



    text-align: left;
    color: #969696;
    font-family: ProximaNova, Arial, serif;
    font-size: 20px;
    line-height: 24px;
}
.acceptBtn
{
    width: 375px;
    height: 82px;
    position: absolute;
    left: 828px;
    top:742px;
    text-align: center;
    cursor: pointer;

    border: 1px solid #D09C2B;
    background: #FFCB05;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    behavior: url(css3pie/PIE.htc);
    box-shadow: 0px 2px 0px #D09C2B;

    idleBgColor:#FFCB05;
    actBgColor:#FFCB05;
}
.acceptBtnText
{
    color: #000000;
    font-family: ProximaNova, Arial, serif;
    font-size: 30px;
    line-height: 30px;
}
.addNotesBtn
{
    width: 311px;
    height: 80px;
    position: absolute;
    left: 77px;
    top:742px;
    text-align: center;
    cursor: pointer;

    border: 1px solid #238441;
    background: #F0F5E0;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    behavior: url(css3pie/PIE.htc);
    idleBgColor:#F0F5E0;
    actBgColor:#238441;
}
.addNotesBtnText
{
    color: #238441;
    font-family: ProximaNova, Arial, serif;
    font-size: 30px;
    line-height: 30px;
}